!!! 5
html(xmlns: 'http://www.w3.org/1999/xhtml', 'xmlns:fb': 'http://www.facebook.com/2008/fbml')
	head
		title Dots &amp; Lines
		meta('http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8')

		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type: "text/javascript", src: "/javascripts/jquery-1.5.2.js")

	body
		#login
			p Please login using Facebook to play Dots &amp; Lines
			fb:login-button(autologoutlink: 'true')

		#fb-root
		script(src: 'http://connect.facebook.net/en_US/all.js')
		script
			FB.init({appId: '171439029577589', status: true, cookie: true, xfbml: true});

			FB.Event.subscribe('auth.statusChange', function(resp) {
				if (resp.session) {
					$('#login').fadeOut('fast');
				} else {
					$('#login').fadeIn('slow');
				}
			});

		!= body

