!!!
html
	head
		title Dots & Lines
		link(rel='stylesheet', href='/stylesheets/style.css')
		// script(type: "text/javascript", src: "/javascripts/coffee-script.js")
		// script(type: "text/coffeescript", src: "/javascripts/client.game.coffee")
		script(type: "text/javascript", src: "/nowjs/now.js")
		script(type: "text/javascript", src: "/javascripts/jquery-1.5.2.js")
		script(type: "text/javascript", src: "/browserify.js")
	body!= body
