body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.game a {
	display: block;
	float: left;
	background-color: #f0f0f0;
}
.game a:hover,
.game a.filled {
	background-color: #333;
}
.game a.horiz {
	width: 3.333em;
	height: 1em;
	text-align: center;
}
.game a.vert {
	height: 3em;
	width: 1em;
	margin: 0 2em 0 0;
}

#notifications {
	display: none;
	background-color: #000;
	opacity: 0.8;
	font: normal 20px/42px Helvetica, Aria, sans-serif;
	position: fixed;
	top: 130px;
	left: 25%;
	width: 50%;
	color: white;
	text-align: center;
	z-index: 100;
	border-radius: 10px;
}
#notifications p {
	padding: 0.3em;
	display: inline
}
