html, body {
	background-color: #111;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #ccc;
}

canvas {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
}
a {
  color: #00B7FF;
}

#notifications {
	display: none;
	background-color: #000;
	opacity: 0.8;
	font: normal 20px/42px Helvetica, Aria, sans-serif;
	position: fixed;
	top: 130px;
	left: 25%;
	width: 50%;
	color: white;
	text-align: center;
	z-index: 100;
	border-radius: 10px;
}
#notifications p {
	padding: 0.3em;
	display: inline
}

.game li.offline {
	text-decoration: line-through;
}

#login {
	display: none;
	width: 200px;
	margin: 100px auto;
	padding: 20px;
	text-align: center;
	border-radius: 15px;

	background-color: #444;
}
