script(type: "text/javascript", src: "/nowjs/now.js")
script(type: "text/javascript", src: "/javascripts/processing-1.1.0.min.js")
script(type: "text/javascript", src: "/browserify.js")

p The URL for the game is
	a(href: "/g/" + game_id)= game_id

div(id: game_id, class="game")
	canvas(id: "board")

script
	var gameId = !{game_id}
	var container = $('#' + gameId);
	var ClientGame = require('./client_game');

	now.gameId = gameId;

	now.handleServerEvent = function() {
		var game = window.game;
		if (!game) return;
		ClientGame.prototype.handleServerEvent.apply(game, arguments);
	};
	now.initializeClientGame = function(serverGame) { 
		var game = new ClientGame($.extend(serverGame, {
			container: container,
			server: window.now
		}));
		game.render();
		window.game = game;
	};
	now.getSession = function(cb) {
		cb(FB.getSession());
	};

	now.ready(function() {
		FB.getLoginStatus(function(resp) {
			if (resp.session) {
				now.uid = resp.session.uid;
				now.startGame(!{JSON.stringify(game_id)}, now.uid);
			} else {
				window.location.href = "/login";
			}
		});
	});
