p The URL for the game is
	a(href: "/g/" + game_id)= game_id

div(id: game_id, class="game")

script
	var serverGame = !{JSON.stringify(game.forClient())};
	var gameId = !{game_id}
	var container = $('#' + gameId);
	var ClientGame = require('./client_game');
	var g = new ClientGame($.extend(serverGame, {
		container: container,
		server: window.now
	}));
	g.render();

	now.gameId = gameId;

	now.handleServerEvent = ClientGame.prototype.handleServerEvent.bind(g);
