p The URL for the game is
	a(href: "/g/" + game_id)= game_id

div(id: game_id, class="game")
	canvas(id: "board")

script
	var gameId = !{game_id}
	var container = $('#' + gameId);
	var ClientGame = require('./client_game');

	now.gameId = gameId;
	now.setClientId = function(cid) { window.clientId = cid };

	now.handleServerEvent = function() {
		var game = window.game;
		if (!game) return;
		ClientGame.prototype.handleServerEvent.apply(game, arguments);
	};
	now.initializeClientGame = function(serverGame) { 
		var game = new ClientGame($.extend(serverGame, {
			container: container,
			server: window.now
		}));
		game.render();
		window.game = game;
	};
